.bg-gray {
  border: 4px solid #ccc;
}

.container {
  display: flex;
  flex-direction: row;
  width: 20vw;
  gap: 16px;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex: 1;
  justify-content: center;
}

#formAddPost, #postsTable {
  margin-top: 20px;
}